/*
font-family: 'Bebas Neue', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
*/


h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-transform: uppercase;
    background-color: lightblue;
}

h2{
    font-family: 'Bebas Neue', cursive;
    background-color: lightblue;
}

h3{
    font-family: 'Bebas Neue', cursive;
    background-color: lightblue;
}

#caja_celeste{
    text-align: center;
    width: 50%; 
    background-color: lightblue;
    margin: 0 auto;
    border-radius: 73px 73px 73px 73px;
-webkit-border-radius: 73px 73px 73px 73px;
-moz-border-radius: 73px 73px 73px 73px;  
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}